.App {
  text-align: center;
}

.form-container {
  display: flex;
  justify-content: center;
}

body {
  padding: 10%
}

.movies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
}

.movie-list-item {
  margin-bottom: 1.5rem;
  width: 48%;
}